server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: 
              - "http://localhost:5173"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true

      # ROUTES
      routes:
        - id: parties-service
          uri: http://localhost:5000 
          predicates:
            - Path=/api/parties/**

        # Route for Java Trading Service
        - id: trading-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/trading/**

        # Route for Java Auth Service
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/auth/**

        # Route for Node.js Smart Ops
        - id: smart-ops-service
          uri: http://localhost:4000
          predicates:
            - Path=/api/smart/**